.sidebar {
    background-color: #fff;
    height: calc(100vh-80px);
    width: 250px;
    border-right: 1px solid #dee2e6;
    position: sticky;
    top: 80px;
  }
  
  .sidebar-item {
    padding: 8px 12px;
    border-radius: 6px;
    cursor: pointer;
    transition: 0.2s;
  }
  
  .sidebar-item:hover {
    background-color: #f8f9fa;
  }
  
  .badge-custom {
    font-size: 0.6rem;
    padding: 4px 6px;
    border-radius: 999px;
  }
  
  .badge-pink {
    background-color: #e83e8c;
    color: white;
  }
  .submenu
  {
    border-left: 2px solid rgba(18, 18, 18, 0.2);
    padding-left: 20px;
  }